<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Eat Da Burger</title>
  <meta name="description" content="">

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
  
  <!--Import materialize.css-->
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

 
  <!--Let browser know website is optimized for mobile-->
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"/> -->

  <!-- My styles -->
  <link rel="stylesheet" href="/assets/css/styles.css"> 

  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
</head>
<body>
	

	{{{ body }}}
      
  <!-- jQuery imports -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

  <!-- Compiled and minified Materialize JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

  
	
</body>
</html>